* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    margin: 0 auto;
    width: 574px;
    height: 600px;
    background-image: url(https://images.ua.prom.st/2132118763_w640_h640_kalkulyator-xiaomi-miiiw.jpg);
    border: 1px solid rgba(255, 255, 255, 0);
}
input {
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 70px auto;
    margin-bottom: 0;
    width: 259px;
    height: 76px;
    text-indent: 245px;
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    font-size: 40px;
    z-index: 10;
}
button {
    width: 100px;
    height: 30px;
    display: block;
}
#reset {
    position: absolute;
    top: 174px;
    left: 154px;
    border-radius: 30px;
    width: 58px;
    cursor: pointer;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}
#division {
    margin-left: 359px;
    margin-top: 28px;
    border-radius: 30px;
    width: 58px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}
#multiply {
    margin-left: 359px;
    margin-top: 10px;
    border-radius: 30px;
    width: 58px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}
#plus {
    margin-left: 359px;
    margin-top: 9px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}
#minus {
    margin-left: 359px;
    margin-top: 9px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}
#result {
    margin-left: 359px;
    margin-top: 8px;
    border-radius: 50px;
    width: 58px;
    height: 125px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}
#out-item {
    text-align: center;
    font-size: 23px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 117px;
    left: 360px;
}
#out-result {
    text-align: right;
    font-size: 40px;
    position: absolute;
    width: 107px;
    height: 34px;
    top: 80px;
    left: 299px;
}